.main-div{
    height: 200px;
    width: 310px;
    padding: 12px;
    border: 1px solid black;
    background-color: whitesmoke;
}

div label{
    margin-right: 7px;
}

div{
    margin-bottom:7px;
}

#Calculate{
    height: 30px;
    width: 90px;
    font-size: 1.1rem;
    background-color: green;
    border: none;
    color: white;
}

#Clear{
    height: 30px;
    width: 60px;
    font-size: 1.1rem;
    background-color: rgb(201, 201, 201);
    border: none;
    color: white;
}

.flex-div{
    display: flex;
    justify-content: space-around;
}

.first-result{
    margin-top: 0px;
}

.image .range{
    height: 250px;
    width: 500px;
}

.img{
    height: 120px;
    position: absolute;
    top: 39.5%;
    left:1025px;
    transform: rotate(-90deg); 
}

.reset{
    height: 120px;
    position: absolute;
    top: 39.5%;
    left:1025px;
    transform: rotate(-90deg); 
}

.underweight{
    top: 37.5%;
    left:1025px;
    transform: rotate(-75deg);
}

.normal{
    top:35%;
    left:1040px;
    transform: rotate(-55deg);
}

.overweight{
    top: 32%;
    left:1075px;
    transform: rotate(0deg);
}

.obese{
    top:34.8%;
    left:1110px;
    transform: rotate(50deg);
}

.extermelyobese{
    top: 38.5%;
    left:1128px;
    transform: rotate(84deg); 
}

